###################
### Carpetas ######
###################
.idea/

####################
### Ejecutable #####
####################
golangmalaga
golangmalaga.exe

#####################
## Configuracion bd##
#####################
config.json

#####################
### Llave privada ###
#####################
Keys/private.rsa